/* handles the styling for app background */

.app {
    background: #6b469a;
    padding: 50px;
    height: 100vh;
}

/* handles the styling for to-do list form */

.todo-list {
    background: #e8e8e8;
    padding: 5px;
    max-width: 400px;
}

